*{
    margin: 0;
padding: 0;
border: none;
outline: none;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}
body{
background-color: #f5f8ff;
}

.objects{
width: 90%;
padding: 25px;
margin-bottom: 20px;
background-color: transparent;
color: #007868;
z-index: 6;

}
.show{
    display: block;
}
.box {
    width: 90%;
    height: 180px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: blur;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    margin-top: 40px;
}
.btn{
    margin-bottom: 20px;
    outline: none;
    border: none;
}

/* Stil für den Inhalt der Boxen */
.box h2 {
margin-bottom: 5px;
}

.box p {
margin-bottom: 3px;}
.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 110%;
background-color: white; /* Hintergrundfarbe des Overlays */
z-index: 1; /* Damit das Overlay hinter dem Text und dem Menü liegt */
background-position: bottom;
}


.footer-info p {
transition: color 0.3s ease;
}

.footer-info p:hover {
color: #17967D; /* Ändern Sie die Farbe bei Hover */
}

li {
list-style: none;
}

a {
text-decoration: none;
color: #aaaaaa;
font-size: 1rem;
z-index: 1; /* Stellen Sie sicher, dass der Text über dem Overlay liegt */
position: relative; /* Damit die z-index-Eigenschaft funktioniert */
}

a:hover {
color: #17967D;
}

header {
position: relative;
padding: 0 2rem;
z-index: 3; /* Stellen Sie sicher, dass das Menü über dem Hintergrundbild und dem Overlay liegt */
}

.navbar {
width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar .logo a {
font-size: 2rem;
font-weight: bold;
color: #007868;
z-index: 3;
margin-left: 50px;
}

.navbar .links {
display: flex;
gap: 4rem;
font-size: 20px;
z-index: 3;
}


.navbar .toggle-btn {
color: #ffffff;
font-size: 10rem;
cursor: pointer;
display: none;
z-index: 3;
}

.action-btn {
background-color: #007868;
color: #ffffff;
padding: 0.5rem 1rem;
border: none;
outline: none;
border-radius: 20px;
font-size: 0.8rem;
font-weight: bold;
cursor: pointer;
transition: transform 0.2s ease;
z-index: 3;
}

.action-btn:hover {
transform: scale(1.05);
}

.action-btn:active {
transform: scale(0.95);
}

.dropdown-menu {
display: none;
position: absolute;
right: 2rem;
top: 60px;
color: #007868;
width: 200px;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(15px);
border-radius: 10px;
overflow: hidden;
transition: height 0.2s ease;
}

.dropdown-menu.open {
display: block;
height: auto;
}
/* CSS-Stil für das Dropdown-Menü */


/* CSS-Stil für den Text im Dropdown-Menü */
.dropdown-menu a {
color: #333; /* Standardfarbe des Textes */
text-decoration: none; /* Entfernt Unterstreichungen */
}

/* CSS-Stil für den Text im Dropdown-Menü, wenn es angezeigt wird */
.dropdown-menu.open a {
color: blur; /* Ändere die Farbe des Textes, wenn das Menü sichtbar ist */
}

.dropdown-menu li {
padding: 0.7rem;
display: flex;
align-items: center;
justify-content: center;
}

.dropdown-menu .action-btn {
width: 100%;
display: flex;
justify-content: center;
}

section#hero {
height: calc(100vh - 60px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
color: #ffffff;
z-index: 1; /* Stellen Sie sicher, dass der Text über dem Overlay liegt */
position: relative; /* Damit die z-index-Eigenschaft funktioniert */
}
.highlight-text h1 {
background-color: #aaaaaa; /* Grauer Hintergrund */
padding: 0.2em 0.5em; /* Etwas Abstand um den Text */
border-radius: 5px; /* Abgerundete Ecken */
text-align: left;
}

.highlight-text 

#hero h1 {
font-size: 2rem;
margin-bottom: 1rem;
text-align: left;
}
#hero h2{
font-size: 2rem;
margin-bottom: 1rem;  
text-align: left; 
}
#hero a1{
font-size: 2rem;
margin-bottom: 1rem;
text-align: left;

}

#hero b{
font-size: 15px;
margin-bottom: 10px;


}
.toggle-btn i {
position: relative;
z-index: 1; /* Stellen Sie sicher, dass das Symbol über dem Overlay liegt */
}

.toggle-btn {
z-index: 2; /* Stellen Sie sicher, dass der Toggle-Button über dem Overlay liegt */
}


.wrapper{
margin-top: 120px;
z-index: 4;
position: absolute;
width: 95%;

}

#search-container{
margin: 1em 0;
}
#search-container input{
background-color: transparent;
width: 30%;
border-bottom: 2px solid #007868;
padding: 1em 0.3em;
}

#search-container input:focus{
border-bottom-color:#17967D

}
#search-container button{
padding: 1em 2em;
margin-left: 1em;
background-color: #17967D;
color: #ffffff;
border-radius: 5px;
margin-top: 2.5em;

}


.button-value{
border: 2px solid #007868;
padding: 1em 2.2em;
border-radius: 3em;
background-color: transparent;
color: #17967D;
cursor: pointer;
margin-left: 10px;

}


#buttons{
margin-top: 6rem;
margin-left: 50px;
}

.active{
background-color: #17967D;
color: #ffffff;
}






.footer-container {
background-color: #17967D; /* Grün */
color: #fff; /* Weißer Text */
padding: 120px 0; /* Innenabstand oben/unten */
text-align: center; /* Zentrierte Ausrichtung */
transition: height 0.5s ease; /* Animation für Höhenänderung */
max-height: 0;
overflow: hidden;
margin-top: 100px;
z-index: 0;
}

.footer-links a {
margin: 0 10px; /* Abstand zwischen den Links */
text-decoration: none; /* Entfernen der Unterstreichung */
color: #fff; /* Weißer Text */
transition: color 0.3s ease; /* Farbübergangseffekt */
}

.footer-links a:hover {
color: black; /* Farbänderung bei Hover */
}

.footer-info {
margin-top: 20px; /* Abstand nach oben */
font-size: 14px; /* Textgröße */
}

.footer-info p {
margin: 5px 0; /* Abstand oben/unten */
}

.footer-info p i {
margin-right: 5px;}



















@media (max-width: 992px) {
.navbar .links,
.navbar .action-btn {
    display: none;
}
.navbar .toggle-btn {
    display: block;
}
.dropdown-menu {
    right: 0;
    top: 60px;
    width: 100%;
}
}

@media (max-width: 576px) {
.dropdown-menu {
    left: 2rem;
    width: unset;
    display: none;
}
}